asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
crispy-bootstrap5==2023.10
distlib==0.3.7
Django==4.2.7
django-crispy-forms==2.1
django-environ==0.11.2
filelock==3.13.1
idna==3.6
numpy==1.26.1
Pillow==10.1.0
psycopg2-binary==2.9.9
pytz==2023.3.post1
requests==2.31.0
setuptools>=65.5.1
sqlparse==0.4.4
urllib3==2.1.0
