{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content%}
{% if messages %}
{% for m in messages %}
<small {% if m.tags %}class="{{m.tags}}"{% endif %}>{{m}}</small>
{% endfor %}
{% endif %}
<form method="post" class="container bg-light mt-5 p-5 shadow-lg" style="width:50%; margin: auto" enctype="multipart/form-data" novalidate>
    <h2>Create your account: </h2>
    {% csrf_token %}
    <!--{{form | crispy}} -->
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    {% endfor %}
    <br>
    <div class="d-flex bd-highlight">
        <button type="submit" class="bd-highlight btn btn-success">Submit</button>
        <small class="ms-auto bd-highlight">Already have an account? <a href="{% url "signin" %}">Sign in</a></small>
    </div>
</form>
    
{% endblock content%}